html {
  background-color: #12182B;
}

header {
  background-position: center;
}
.title {
  font-family: 'Poiret One', cursive;
  font-weight: lighter;
  color: #FFC944;
  font-size: 150px;
  text-align: center;
  margin-top: 60px;
  attachment: fixed;

  
}
