html {
  background-color: #12182B;
}

/* header formatting */
header {
  background-position: center;
}

.title {
  font-family: 'Poiret One', cursive;
  font-weight: lighter;
  color: #FFC944;
  font-size: 150px;
  text-align: center;
  margin-top: 120px;
  attachment: fixed;
  position: relative;
}

.homeimages {
  float: right;
  margin-right: 10px;
  margin-top: 80px;
}
/* .img1 { */
 
/*   transform: translate(-100px, 20px); */
}