html {
  background-color: #12182B;
}

/* header formatting */
header {
  background-position: center;
}

.title {
  font-family: 'Poiret One', cursive;
  font-weight: lighter;
  color: #FFC944;
  font-size: 150px;
  text-align: center;
  margin-top: 120px;
  attachment: fixed;
  position: relative;
}

.homeimages {
  
}

.img1 {
  float: right;
  margin-right: 20px;
  margin-top: 80px;
  transform: translate(-90px, 20px);
}